body {
    text-color: white;
    font-color: green;
    text-size: 30;
    font-size: 35px;
    color: white;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}

.btn1 {
    font-size: 50px;
    color: blue;
}

.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    color: white;
}

.my-option {
    color: white;
    background: #61122f;
}


